<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVEBitmapViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EVEBitmapViewer.Properties.Settings>
            <setting name="Display" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>Proportional</value>
            </setting>
        </EVEBitmapViewer.Properties.Settings>
    </userSettings>
</configuration>